body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.task h2 {
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;

}

.submit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item h2 {
    margin: 0;
}

.item button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.submit-button button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

svg {
    fill: #333;
}

input[type="text"] {
    width: 580px;
    /* Adjust width */
    height: 40px;
    /* Adjust height */
    padding: 10px;
    /* Add padding for better look */
    font-size: 16px;
    /* Increase font size */
    border-radius: 20px;
    /* Rounded corners */
    border: 2px solid #ccc;
    /* Border color */
    margin-top: 20px;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
    /* Remove default outline */
}